.gen{
height: 70vh;
width:70vw;
margin: 15vh auto;
border-radius: 10px;
box-shadow: -3px -3px 80px 0px rgba(0,0,0,0.35);

}
img{
height: 40vh;
width:90%;
margin: 10px 15px  ;
padding: 0px auto;
border-radius: 10px;
}
h1{
    text-align: center;

}

p{
    text-align: center; 
    width: 50vw;
    margin: 10px auto;
}